<div class="app-container">
  <header class="app-header">
    <h1 class="app-title">Student Management System</h1>
    <div class="app-buttons">
      <p-button label="Student List" icon="pi pi-list" styleClass="p-button-raised p-button-rounded p-button-info" [routerLink]="['/students']"></p-button>
      <p-button label="Add Student" icon="pi pi-plus" styleClass="p-button-raised p-button-rounded p-button-success" [routerLink]="['/student/add']"></p-button>
    </div>
  </header>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>
